<%- include('partials/header') %>

    <div class="container my-4">
        <div class="row g-4">
            <div class="col-lg-6">
                <div class="card shadow">
                    <img src="https://i.ebayimg.com/images/g/n8IAAOSwltRkNCSF/s-l1200.png"
                        class="img-fluid card-img-top" alt="wallpaper">
                    <div class="card-body p-4">
                        <h2 class="card-title fw-bold text-secondary">Wallpaper One</h2>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus ad
                            magnam iure, at obcaecati aliquid perspiciatis aliquam voluptates eius a quas ipsa enim
                            impedit alias autem voluptatum maiores nemo vel?
                        </p>
                        <div>
                            <a href="/post/121212" class="btn btn-primary">Read More...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card shadow">
                    <img src="https://i.ebayimg.com/images/g/n8IAAOSwltRkNCSF/s-l1200.png"
                        class="img-fluid card-img-top" alt="wallpaper">
                    <div class="card-body p-4">
                        <h2 class="card-title fw-bold text-secondary">Wallpaper One</h2>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus ad
                            magnam iure, at obcaecati aliquid perspiciatis aliquam voluptates eius a quas ipsa enim
                            impedit alias autem voluptatum maiores nemo vel?
                        </p>
                        <div>
                            <a href="/post/121212" class="btn btn-primary">Read More...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include('partials/footer') %>