<%- include('../partials/header') %>

    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-10 mx-auto">
                <div class="card shadow">
                    <div class="card-body p-5">
                        <img src="https://i.ebayimg.com/images/g/n8IAAOSwltRkNCSF/s-l1200.png" class="img-fluid"
                            alt="wallpaper">
                        <div
                            class="lead my-3 d-flex align-items-center fw-semibold justify-content-between text-secondary flex-wrap gap-2">
                            <div>Author: Waldemar Naposo</div>
                            <div>Created: 12-06-2024</div>
                        </div>
                        <h1 class="text-secondary fw-bold">
                            Wallpaper
                        </h1>

                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis cupiditate et
                            provident dicta! Est doloribus quas ipsum quos. Porro eius illo quis saepe nihil fuga ea
                            quibusdam ratione! Officiis, amet.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include('../partials/footer') %>